[Unit]
Description=MySQL Backup Script
Requires=mysqld.service
After=mysqld.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/mysqlbackup.sh

[Install]
WantedBy=multi-user.target
