[Unit]
Description=Run MySQL backup every 12 hours

[Timer]
OnBootSec=5min
OnUnitActiveSec=720min
Unit=mysqlbackup.service

[Install]
WantedBy=timers.target
